.nav {
    display: flex;
    justify-content: center;
}

.nav > * {
    margin-left: 5%;
    margin-right: 5%;
}

.dark-mode {
    color: white;
    background-color: black;
}

.page {
	width: 9in ;
	height: 11.5in;
	margin: auto;
    font-family: 'Times New Roman', Times, serif;
    line-height: 150%;
    font-size: 18px;
}

h2 {
    text-align: center;
}

p {
    text-indent: 0.5in;
}
